.product_item{
    padding: 5px 5px 5px 5px;
    height: 310px;
    width: 220px;
    margin-right: 48px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 25px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;

}

.product_item:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition-duration: 200ms;
}

.product_image{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 60%;
}

.image{
    width: 100%;
}

.product_name{
    height: 15%;
    font-size: 20px;
    font-weight: 600;
}

.product_price{
    font-size: 17px;
    color: rgb(99, 99, 99);
    font-weight: 400;
}

.add_to_cart{
    height: 30px;
    width: 80%;
    margin-bottom: 6px;
    border:2px solid black;
    border-radius: 3px;
    padding-top: 4px;
    text-align: center;
}

.add_to_cart:hover{
    background-color: orangered;
    color: white;
    transition-duration: 300ms;
}